body {
	background-color:#000000;
	color:#FFFFFF;
}
h1 {
	text-align: center;
}
h2 {
	text-align: center;
}
td {
	border: 1pt solid black;
}
.field{
	background-color: black;
}
.wall{
	background-color: gray;
}
.snake{
	background-color: white;
}
.apple{
	background-color: red;
}
.obstacle{
	background-color: gray;
}
#pref {
	text-align: left;
	margin: 20px;
}
#game {
	text-align: center;
	margin: 20px;
}
#hs{
	text-align: right;
	margin: 20px;
}